@model List<Valemobi.Models.Mercadoria>
@{
    ViewBag.Title = "Cadastrado";
}



<div>
    <h4>Mercadoria</h4>
    @for (int i = 0; i < @Model.Count; i++)
    {
        <p>@Model[i].nome</p>
        <p>@Model[i].codigo</p>
        <p>@Model[i].tipo</p>
        <p>R$ @Model[i].preco</p>
        <p>@Model[i].quantidade</p>
        <p>@Model[i].tipoNegocio</p>
    }

    
</div>
<a href="@Url.Action("Index", "Home")">Voltar</a>

