@model Valemobi.Models.Mercadoria

@{
    ViewBag.Title = "Cadastrado";
}



<div>
    <h4>Mercadoria</h4>
    <p>@Model.nome</p>
    <p>@Model.codigo</p>
    <p>@Model.tipo</p>
    <p>R$ @Model.preco</p>
    <p>@Model.quantidade</p>
    <p>@Model.tipoNegocio</p>
</div>

